
.About-us-Page-Section {
    padding: 20px 0px 10px;
}
.form-body-content label {
    color: black;
    font-weight: 500;
}
.form-body-content input {
    padding: 8px 10px;
    border: 1px solid green;
    border-radius: 9px;
}
.form-body-content textarea {
    border: 1px solid green;
    border-radius: 9px;
}
.About-us-Page-Section .Contact-btn {
    background-color: #8b3DFF;
    color: white;
    padding: 8px 20px;
    border-radius: 3px;
}
.About-us-social li  {
    margin-right: 15px;
   font-size: 19px;
   border: 1px solid green;
   display: inline-block;
   border-radius: 6px;
   padding: 5px 10px;
}
.form-body-content h5{
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #64748b;
    margin-bottom: 30px;
}
.About-us-social li:hover{
    background-color: red;
    color: white;
}
.About-us-social li:hover:nth-child(2){
    background-color: green;
    color: white;
}
.About-us-social li:hover:nth-child(3){
    background-color: red;
    color: white;
}

.About-us-social li:hover:nth-child(4){
    background-color: blue;
    color: white;
}
.about-right-section  h5{
    font-size: 17px;
    font-weight: 600;
}
.about-right-section h3{
    font-style: italic;
    font-size: 23px;
    font-weight: 600;
    color:#8b3DFF;
}