
  .categeory-main-wrapper{
    max-width: 1024px !important;
    background-color:#256a8f;
    margin: 0px auto;
  }
  .categories-bg-img-body .btn{
    background-color:#256a8f;
    color: white;
    border-radius: 2px;
    font-weight: 500;
  }
    .categories-bg-img{
      background-image: url(../assets/CategeoriesItem1.jpg);
      background-repeat: no-repeat;
      padding: 20px 20px;
      background-size: cover;
    }
    .categories-bg-img-jacket{
        background-image: url(../assets/CategeoriesItem6.png);
        background-repeat: no-repeat;
      background-size: cover;
      padding: 20px 20px;
    }
    .categories-bg-img-shoes{
        background-image: url(../assets/CategeoriesItem3.webp);
        background-repeat: no-repeat;
      background-size: cover;
      padding: 20px 20px;
  
    }
    .categories-bg-img-Sunglasses{
        background-image: url(../assets/CategeoriesItem4.png);
      background-repeat: no-repeat;
      background-size: cover;
      padding: 20px 20px;
  
    }
    .categories-bg-img-winter{
        background-image: url(../assets/CategeoriesItem5.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      padding: 20px 20px;
  
    }
    .categories-bg-img-item-1{
        background-image: url(../assets/CategeoriesItem6.png);
        background-repeat: no-repeat;
      background-size: cover;
      padding: 20px 20px;
  
    }
    .categories-bg-img-item-2{
        background-image: url(../assets/CategeoriesItem7.png);
      background-repeat: no-repeat;
      background-size: cover;
      padding: 20px 20px;
  
    }
    .categories-bg-img-item-3{
        background-image: url(../assets/CategeoriesItem5.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      padding: 20px 20px;
  
    }
    .categories-bg-img-item-4{
        background-image: url(../assets/CategeoriesItem8.png);
        padding: 20px 20px;
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    .categories-bg-img-body{
      padding: 10px ;
    }
  
    .text-bottom-circle{
      background-color:yellow;
      height: 19px;
      text-align: center;
      width: 19px;
      border-radius: 50%;
      position: relative;
      left: 41%;
      transform: translate(-50%, -79%);
    
    }
    .reusable-relative{
      position: relative;
    }
    .reusable-relative::before{
      position: absolute;
      content: "";
      background-color:white;
      height: 4px;
      width: 17%;
      top: 61%;  
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    
  