/* contact-us-section */
.contact-us-section {
  padding: 20px 0px 20px;
  max-width: 1024px;
  margin: 0px auto;
}
.contact-us-section .contact-top-info {
  line-height: 29px;
}

.contact-us-section .contact-additional-info a {
  color: #282727;
}
.contact-us-left-social {
  display: flex;
  align-items: center;
}
.contact-us-left-social li {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 14px;
  border-radius: 5px;
  border: 2px solid #256a8f;
}
.contact-us-submit-btn .btn {
  background-color: #256a8f;
  color: white;
  border-radius: 2px;
}
input {
  width: 100%;
  font-size: 15px;
  padding: 7px 10px;
  font-weight: 500;

}
label{
    font-weight: 500;
}
