
.Faq-Section {
    padding: 20px 0px 10px;
}
.Faq-Section h2 {
    font-weight: 600;
}
.Accordion-Body-section .accordion-button{
    color:black;
    font-size: 18px;
    background-color:#f1f5f9;
  }
  .accordion-button:not(.collapsed){
    background-color:#f1f5f9;
  }
  .accordion-button:focus{
    box-shadow: none;
  }
  .Accordion-Body-section .accordion-answer{
    color: rgb(38, 51, 69);
    line-height: 32px;
  }
  .accordion-button::after{
    content: "+";
    background-image: none;
    background-color: #6415ff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 17px;
    border-radius: 10%;
  }
  .accordion-button:not(.collapsed)::after{
    content: "-";
    background-image: none;
  
  }