.TopCategoryFilter {
  border: 2px solid rgba(0, 34, 255, 0.519);
}
.FilterCategoryPage h2{
    font-size: 25px;
    font-weight: 600;
}

.list-grid-icons a {
  color: black;
  font-size: 13px;
}
.FilterCategoryPage h4 {
  color: rgba(0, 34, 255, 0.76);
  font-size: 19px;
  letter-spacing: 1px;
}
.TopCategoryFilter a {
  color: black;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: transparent;
  color: black;
}

.filter-Color li a {
    margin-right: 10px;
}
.filter-Color li .btn {
    padding: 13px;
    border-radius: 0px;
}

.Filter-Product-Type input{
    width: 23px;
    height: 23px;
}
.Filter-Product-Type-list{
    border: 2px solid rgba(0, 34, 255, 0.519);
    padding: 10px;
}
.clear-filter-btn .btn{
    background-color: rgba(255, 0, 0, 0.895);
    color: white;
    font-size: 14px;
    font-weight: 500;
    border-radius: 0px;
    letter-spacing: 0.5px;
}
.Product-Search-input{
    width: 60%;
}
.Product-Search-input input{
    width: 100%;
    border: 2px solid rgba(171, 171, 208, 0.721);
}
.Product-Search-input .btn{
    background-color: black;
    color: white;
    border-radius: 0px;
}

