/*==== banner-product-all-categories ====// */
body {
  background-color: #f1f5f9;
  overflow-x: hidden;
}
html{
  scroll-padding-top: 100px;
}

.banner-product-all-categories {
  padding: 40px 0px 20px;
}
.banner-product-all-categories-main-body h6 {
  font-size: 16px;
  font-weight: 500;
  color: #333333;
}
.banner-product-all-categories-main-body .categories-brand {
  padding: 10px 0px;
}

.HomeSection2 .swiper-slide img{
  object-fit: contain;
}
.HomeSection2 .swiper-button-next{
 color: white;
 background-color: black;
 border-radius: 10%;
 padding: 10px;
}
.swiper-button-disabled{
  color: white;
  background-color: black;
  border-radius: 10%;
  padding: 10px;
  opacity: 70%;
}


/*Limited-offers-section */
.Limited-offers-section {
  padding: 30px 0px 30px;
}

.Limited-offers-section .bg-pink {
  background-color: #125b9e;
  border-radius: 10px;
}

.Limited-offers-section h6 {
  font-size: 20px;
  color: white;
  background-color: #00a5ff;
  border-radius: 6px;
  width: 200px;
  margin: 0px auto;
  padding: 6px 10px;
  font-weight: 500;
}

.Limited-offers-section h4 {
  font-size: 23px;
  color: white;
  line-height: 35px;
  font-weight: 600;
}

.Limited-offers-section .limited-offer-btn .btn {
  font-size: 16px;
  font-weight: 500;
  background-color: #2d2237;
  color: white;
  padding: 6px 20px;
  border-radius: 23px;
}

/* product-cap */


.Product-Filter-Caption .btn {
  padding: 6px 10px;
  background-color:black;
  color: #fafafa;
}

/*main-wrapper-section left side */
.home-leftside-wrapper .card-body h5 {
  font-size: 18px;
  font-weight: 500;
}
.home-leftside-wrapper .card-body h6 {
  font-size: 14px;
}
.home-leftside-wrapper-price {
  color: #da1c5c;
  font-weight: 700;
}
.home-leftside-wrapper .card-body .home-leftside-wrapper-btn {
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  background-color: #0d6efd;
  border-radius: 2px;
  padding: 8px 16px;
}

.home-leftside-wrapper .card-body .home-leftside-wrapper-btn:hover {
  background-color: #0d0d0d;
  transition: 0.3s ease-in-out;
}

/* right side */
.product-cards-main-body {
  position: relative;
  border: 2px solid hwb(251 58% 6% / 0.3);
  padding: 10px;
}
.product-cards-top-filter-input input {
  width: 70%;
  display: block;
  margin-left: auto;
  border: 2px solid #00a5ff;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}
.product-cards-top-filter-input input::placeholder {
  color: #0d0d0d;
}
.product-cards-top-filter-input {
  position: relative;
}
.product-cards-top-filter-input ul {
  list-style-type: none;
}
.product-cards-top-filter-input ul {
  color: black;
  text-decoration: none;
  position: absolute;
  right: 40px;
  top: 0;
  transform: translate(-50% -50%);
}
.product-cards-top-filter-input ul li a {
  color: #0d0d0d;
}

.product-body .product-info {
  font-size: 14px;
  text-align: start;
  font-weight: 500;
}
.product-body .Discount .btn{
  position: absolute;
  top: 10px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color:rgba(255, 0, 0, 0.699);
}
.product-body .product-name {
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 0, 0, 0.745);
  letter-spacing: 0.5px;
}
.product-tag {
  position: absolute;
  top: 10px;
  right: 10px;
}
.badge-secondary {
  width: 35px;
  height: 35px;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00a5ff;
}

.badge-secondary:hover {
  background-color: #0d6efd;
  transition: 0.3s ease-in-out;
}
.badge-secondary a:hover {
  color: white;
}
.badge-secondary a {
  color: white;
}

.product-price {
  color: #0d775e;
  font-weight: 600;
  font-size: 16px;
}

.product-body .left-sidebar-yellow-star {
  font-size: 1px;
  text-align: start;
  color: rgba(255, 0, 0, 0.555);
}
/* Discover Latest Offer */

.Discover-Latest-Offer {
  position: relative;
  padding: 20px 0px 20px;
  background-color: #ebebeb33;
}
.Discover-Latest-Offer h3 {
  font-size: 29px;
  font-weight: 600;
}

.Discover-Latest-Offer .btn {
  font-size: 15px;
  font-weight: 500;
  background-color:#00a5ff;
  color: white;
  padding: 6px 20px;
  border-radius: 3px;
}

/* computer-section */
.computer-section {
  padding: 30px 0px 50px;
}

/* parallax-section */

.homepage-parallax-section-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../assets/Parallaxbg1.webp);

  height: 50vh;
  width: 100%;
  background-color: #00a5ff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 59% 45%;
  background-attachment: fixed;
}
.parallax-relative {
  position: relative;
}
.parallax-body-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.parallax-body-content h2 {
  color: white;
  font-weight: 600;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}

.parallax-body-content a {
  color: white;
  font-weight: 600;
  font-size: 16px;
  background-color: #0d6efd;
  letter-spacing: 2px;
}

.homepage-parallax-section-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(../assets/Parallaxbg2.webp);

  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}

.homepage-parallax-section-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../assets/Parallaxbg3.webp);

  height: 45vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}

.homepage-parallax-section-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../assets/Parallaxbg4.webp);
  height: 38.5vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}




/* Cosmetics-sales-section */
.Cosmetics-sales-section {
  padding: 20px 0px 20px;
}
.Cosmetics-sales-section .card {
  background-color: #0d6efd;
  color: white;
  position: relative;
}

.sale-position {
  position: absolute;
  right: 1px;
  top: 2px;
  font-size: 14px;
  border: 2px solid #a9adbe !important;
  background-color:#0d0d0d;
  border: 1px solid;
  border-radius: 5px;
  padding: 6px;
}

.Cosmetics-sales-section .first-card .card-body h5 {
  font-size: 23px;
}

.Cosmetics-sales-section .first-card .card-body p {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 27px;
}

.Cosmetics-sales-section .first-card .card-body .glasses-btn .btn {
  font-size: 14px;
  color: #fff;
  background: linear-gradient(90deg, #81220c, #0f0a0c);
  border-color: rgb(255 255 255 / 15%);
  padding: 10px 10px;
}

.Cosmetics-sales-section .second-card .card-body h5 {
  font-size: 19px;
  letter-spacing: 1px;
}

.Cosmetics-sales-section .second-card .card-body p {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 27px;
}

.Cosmetics-sales-section .second-card .card-body .Cosmetics-btn .btn {
  font-size: 14px;
  color: #fff;
  background: linear-gradient(90deg, #81220c, #0f0a0c);
  border-color: rgb(255 255 255 / 15%);
  padding: 10px 10px;
}

.Cosmetics-sales-section .third-card .card-img-overlay {
  top: 20%;
}
.Cosmetics-sales-section .third-card .card-img-overlay .summer-btn .btn {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  color: black;
  background-color: white;
  padding: 10px 10px;
}
.Cosmetics-sales-section .forth-card .card-body h2 {
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 1px;
}
.Cosmetics-sales-section .forth-card .card-body h6 {
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 1px;
}

.Cosmetics-sales-section .forth-card .card-body p {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 27px;
}

.Cosmetics-sales-section .forth-card .card-body .hurry-up-btn .btn {
  font-size: 14px;
  color: #fff;
  background: linear-gradient(90deg, #81220c, #0f0a0c);
  border-color: rgb(255 255 255 / 15%);
  padding: 8px 20px;
}

/* trending-section */
.trending-section h4 {
  font-size: 30px;
}
.trending-section-body p {
  line-height: 28px;
}

/* homepage-bottom-newslater-section */
.homepage-bottom-newslater-section {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../assets/Homenewslaterbg.jpeg);
  padding: 40px 0px 50px;
}
.homepage-bottom-newslater-section .newslater-body h4 {
  color: white;
  font-size: 30px;
  font-weight: 500;
}
.homepage-bottom-newslater-section .newslater-body input {
  background-color: rgba(255, 255, 255, 0.119);
  border: 1px solid rgb(255 255 255 / 62%);
}
.homepage-bottom-newslater-section .newslater-body ::placeholder {
  color: white;
  font-size: 16px;
}
.homepage-bottom-newslater-section .newslater-body .btn {
  border: 1px solid rgb(255 255 255 / 62%);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  font-size: 18px;
}
.homepage-bottom-newslater-section .newslater-body .btn:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.119);
}

/* brand-company-section */
.brand-company-section {
  padding: 30px 0px 50px;
}
.brand-company-section img {
  padding: 8px;
  box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.089);
}
.brand-company-section h4 {
  font-size: 32px;
  font-weight: 600;
}
.brand-company-section p {
  color: #424242;
  letter-spacing: 1px;
}




