/****BREADCRUMB-FIXED-TOP-SECTION****/

.BreadcrumbFixedTop {
  background-image: linear-gradient(#1b374bbf, rgba(50, 68, 149, 0.599)),
    url(../assets/bg-fixeedBreadCrumb.jpg);
  height: 320px;
  background-size: 100%;
  background-position: center top;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  align-items: center;
  margin-bottom: 20px;
}

.BreadcrumbFixedTop a {
  color: white !important;
  font-weight: 500;
}

/****HOMEBANNER-SECTION****/

.flashimagelight {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.flashimagelight img {
  display: block;
  height: auto;
}

.flashimagelight::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  transform: skewX(-5deg);
}

.flashimagelight:hover::before {
  animation: slide 0.3s forwards;
}

@keyframes slide {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

/****LIMITED-OFFERS-SECTION****/

.Limited-offers-section {
  background-attachment: fixed;
  background-image: url(../assets/BigSale2MenWomen.png);
  background-position: 50%;
  padding: 60px 0px 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(77, 156, 247);
}

.Limited-offers-section .btn {
  font-size: 15px;
  font-weight: 600;
  padding: 9px 20px;
  background-color: var(--color-white);
  color: var(--orange-color);
  margin-bottom: 20px;
}
.Limited-offers-timmer li {
  font-size: 26px;
  margin-right: 25px;
  border-radius: 7px;
  border: 1px solid var(--color-white);
  padding: 0px 15px;
}
.Limited-offers-timmer h6{
  font-size: 15px !important;
}

.orange-btn-btn {
  padding: 6px 10px;
  font-size: 13px;
  letter-spacing: 1px;
  border-radius: 0px;
  border: 0;
  background-color: var(--orange-color);
  color: var(--color-white);
}

/****MAIN_WRAPPER-SECTION****/
/* left-side */
.Home-product-items-name {
  font-size: 15px;
  font-weight: 600;
  color: var(--orange-color);
  letter-spacing: 0.5px;
}
.Home-product-category-title {
  font-size: 15px;
  font-weight: 600;
  color: black;
  letter-spacing: 0.5px;
}

/* right-side */
.product-cards-main-body {
  position: relative;
  border: 0.5px solid var(--orange-color);
  padding: 4px;
  border-radius: 7px;
}

.product-body .product-info {
  font-size: 15px;
  text-align: start;
  color: var(--color-black);
  font-weight: 500;
}
.product-body .Discount .btn {
  position: absolute;
  top: 6px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  color: var(--color-white);
  align-items: center;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: var(--orange-color);
}

.product-tag {
  position: absolute;
  top: 6px;
  right: 9px;
}

.badge-secondary {
  width: 30px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00a5ff;
}

.badge-secondary:hover {
  background-color: var(--orange-color);
  transition: 0.3s ease-in-out;
}
.badge-secondary a:hover {
  color: var(--color-white);
}
.badge-secondary a {
  color: var(--color-white);
}

.product-price {
  color: #0d775e;
  font-weight: 600;
  font-size: 15px;
}

.product-main-ATC-btn .btn {
  background-color: var(  --color-ATC);
  border-radius: 0px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
  padding: 8px 0px;
  border: 0;
}
.product-main-ATC-btn .btn:hover {
  background-color: var(--color-black);
  transition: 0.4s ease-in-out;
  color: var(--color-white);
}

/****PARALLAX SECTION****/

.homepage-parallax-section-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../assets/Parallaxbg1.webp);
  height: 50vh;
  width: 100%;
  background-color: #00a5ff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 59% 45%;
  background-attachment: fixed;
}
.parallax-relative {
  position: relative;
}
.h2color {
  color: white;
}
.parallax-body-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homepage-parallax-section-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(../assets/Parallaxbg2.webp);

  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}

.homepage-parallax-section-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../assets/Parallaxbg3.webp);

  height: 45vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}

.homepage-parallax-section-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../assets/Parallaxbg4.webp);
  height: 38.5vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}

.prallax-fixed1-section {
  background-image: url(../assets/Parallaxfixed2.jpg);
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
}

/****COSMETICS-SALES SECTION****/

.Cosmetics-sales-section {
  padding: 20px 0px 20px;
}
.Cosmetics-sales-section .card {
  background-color: var(--bg-body);
  color: var(--color-black);
  border: 2px solid var(--orange-color);
  position: relative;
}

.sale-position {
  position: absolute;
  right: 1px;
  top: 2px;
  font-size: 14px;
  background-color: var(--orange-color);
  border: none;
  color: var(--color-white);
  border-radius: 5px;
  padding: 6px;
}
.Cosmetics-sales-section .third-card .card-img-overlay {
  top: 20%;
}

/****PROFILE SECTION****/

.main-profile-wrapper-body {
  padding: 20px 0px 20px;
}
.main-profile-wrapper-body .title {
  font-size: 15px;
}
.main-profile-wrapper-body .hrtag {
  color: var(--orange-color);
  border-bottom: 2px dotted;
  display: block;
  width: 100%;
  height: 2px;
}

/****OUR PROJECT SECTION****/
.our-project-section {
  padding: 20px 0px 20px;
}
.section-work-data {
  background-color: var(--orange-color);
  padding: 40px 0px 40px;
}

.our-project-section .card .card-img-top {
  width: 120px;
  display: block;
  margin: 0px auto;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}

.our-project-section .card {
  padding: 10px;
  flex-wrap: wrap;
  border: 3px solid var(--orange-color);
  box-shadow: 0 0 14px var(--orange-color);
  border-radius: 10px;
  margin: 10px 0px;
  overflow: hidden;
}
.our-project-section .card .img-fluid {
  width: 100%;
}

/****ABOUT-US-SECTION****/
.About-us-Page-Section {
  background: #f3f3f3;
}
.Aboutus-Our-Shop .rounded-tp-full {
  border-top-left-radius: 9999px !important;
  border-top-right-radius: 9999px !important;
  width: 70%;
  margin: 0px auto;
  display: block;
}
.About-portfolio-card {
  border: 2px solid var(--orange-color);
  padding: 28px;
  border-radius: 6px;
}
.Aboutus-Two-Cards-Section img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}


.our-team-section .card .card-img-top {
  width: 120px;
  display: block;
  margin: 0px auto;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}

.our-team-section .card {
  padding: 25px;
  flex-wrap: wrap;
  background-color: transparent;
  border: 1px solid var(--orange-color);
  border-radius: 6px;
  margin: 10px 0px;
  overflow: hidden;
}
.our-team-section .card:hover {
  background-color: black;
  color: white !important;
  transition: 0.7s ease-in-out;
}

.our-team-section .card .Team-Social-left-icon li {
  opacity: 0;
}
.our-team-section .card:hover .Team-Social-left-icon li {
  color: black;
  background-color: white;
  opacity: 1;
  transition: 0.5s ease-in-out;
}
.our-team-section .card {
  position: relative;
}
.Team-Social-left-icon li {
  list-style-type: none;
  background-color: black;
  margin-bottom: 10px;
  color: white;
  padding: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.Team-Social-left-icon {
  position: absolute;
  top: 23%;
  left: 10%;
}

/****CONTACT-US-SECTION****/
.contact-us-section .container {
  max-width: 1024px;
  margin: 0px auto;
}

.contact-us-left-social li {
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid var(--color-black);
}
.contact-us-section input {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 8px 5px 10px;
  border: 1px solid var(--orange-color);
  background-color: transparent;
}
.contact-us-section label {
  font-size: 15px;
  font-weight: 400;
}

/****PRODUCT FILTER SECTION****/

.FilterCategorybg {
  padding: 20px 0px 20px;
  margin-bottom: 20px;
}
.filtersalebgimg {
  background-image: url(../assets/FashionSaleTopFilter.jpg);
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}
.filterallproductcss {
  border: 1px solid var(--orange-color);
  border-radius: 2px;
  padding: 5px;
  outline: 1px solid var(--orange-color);
  outline-offset: 2px;
  margin-bottom: 10px;
}
.FilterCategoryPage .filterallproductcss ul button {
  font-weight: 500;
  font-size: 14px;
}

.FilterCategoryPage .list-grid-icons a {
  color: var(--color-black);
  font-size: 13px;
}
.FilterCategoryPage h4 {
  color: rgb(12, 11, 11);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

.FilterCategoryPage .filter-Color li a {
  margin-right: 10px;
}
.FilterCategoryPage .filter-Color li .btn {
  padding: 11px;
}

.FilterCategoryPage .Product-Search-input {
  width: 60%;
}
.FilterCategoryPage .Product-Search-input input {
  width: 100%;
  border: 1px solid var(--orange-color);
  padding: 5px;
}
.FilterCategoryPage .Product-Search-input .btn {
  background-color: var(--orange-color);
  color: var(--color-white);
  border-radius: 0px;
}

/****CART-SECTION****/

.Product-Cart-Info-Table table th,
td {
  border: 1px solid var(--color-black);
}

.payment-summary-section td {
  font-size: 16px;
  padding: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  background-color: transparent;
}
.place-order-btn .btn {
  background-color: var(--orange-color);
  outline-offset: 2px;
  outline: 2px solid var(--orange-color);
  border-radius: 0px;
  color: var(--color-white);
  text-transform: uppercase;
  padding: 9px 30px;
}

.place-order-btn .btn:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

/*payment-integration-section  */

.payment-integration-section {
  padding: 30px 0px 30px;
}
.PaymentOption h5 {
  font-size: 15px;
  letter-spacing: 1px;
}
.payment-integration-section input {
  font-size: 15px;
  background-color: transparent;
  padding: 8px;
  border: 1px solid rgba(31, 98, 179, 0.307);
  letter-spacing: 1px;
}
.payment-integration-section .address,
label {
  color: var(--color-black);
  letter-spacing: 0.3px;
  font-weight: 500;
  font-size: 16px;
}

.Fullwidthbutton .btn {
  background-color: rgb(31, 97, 179);
  color: white;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
}
.table > :not(caption) > * > * {
  background-color: transparent;
}

/****BLOGS-SECTIONS****/
.image-section {
  overflow: hidden;
}

.image-section:hover img {
  transform: scale(1.6);
}
.inner {
  overflow: hidden;
  margin-bottom: 7px;
}
.inner img {
  transition: all 0.6s ease;
}
.inner:hover img {
  transform: scale(1.6);
}

.blog-row-cols img {
  height: 300px;
  width: 100%;
}
.popular-tags li {
  margin-bottom: 14px;
  margin-right: 5px;
  display: inline-block;
}



/* Dynamic Css  Start*/
h2 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 2px;
}

h4{
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 0.02em;
}
h5{
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.02em;
}
h6{
  letter-spacing: 0.02em;
  font-size: 15px;
  font-weight: 500;
}
.text-paragraph{
  font-size: 15px;
   line-height: 25px;
  font-weight: 400;
}
.post-head-orange-text {
  color: var(--orange-color);
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
}
.post-head-orange-heading {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: var(--orange-color);
  margin-bottom: 13px;
}
.same-line-height{
  line-height: 26px;
}
.padding-all {
  padding: 20px 0px 20px;
}
.bg-orange-same-btn {
  padding: 5px 15px;
  outline-offset: 2px;
  background-color: var(--orange-color);
  color: var(--color-white);
  font-size: 14px;
  border-radius: 0px;
  letter-spacing: 0.02em;
  font-weight: 400;
}
.bg-orange-same-btn:hover {
  background-color: var(--color-white);
  color: var(--orange-color);
  border: 1px solid var(--orange-color);
}
.same-transparent-lg-btn {
  background-color: transparent;
  outline: 1px solid var(--orange-color);
  outline-offset: 2px;
  text-transform: uppercase;
  color: var(--color-black);
  border-radius: 0px;
}
.same-transparent-lg-btn:hover {
  background-color: var(--color-white);
  color: var(--color-black);
  font-weight: 500;
}
.bg-red-bottom-arrow-btn .btn {
  background: linear-gradient(180deg, #e56f15 0%, #f80136 100%);
  padding: 4px 20px;
  color: var(--color-white);
  font-weight: 400;
  border-radius: 0px;
}
.bg-red-bottom-arrow-btn span {
  height: 2px;
  width: 0%;
  left: 20%;
  margin-bottom: 18px;
  background: linear-gradient(180deg, #e51515 0%, #f80136 100%);
  display: block;
  position: relative;
}

.bg-red-bottom-arrow-btn span::before {
  content: "";
  border-top: 0.625rem solid #f80136;
  border-left: 0.625rem solid transparent;
  border-right: 0.625rem solid transparent;
  z-index: 5;
}
.transparent-btn .btn {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2.5px;
  color: var(--color-black);
  font-weight: 600;
  border: 1px solid var(--orange-color);
  padding: 9px 10px;
  border-radius: 4px;
}
/*Dynamic Css End  */

/****FREQUENTLY-ASKED-QUESTIONS****/
.Faq-Section .Accordion-Body-section .accordion-button {
  color: var(--color-black);
  background-color: var(--bg-body);
}
.Faq-Section .accordion-button:not(.collapsed) {
  background-color: var(--bg-body);
}
.Faq-Section .accordion-button:focus {
  box-shadow: none;
}
.Faq-Section .Accordion-Body-section .accordion-answer {
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  color: var(--color-black);
  background-color: var(--bg-body);
}
.Faq-Section .accordion-button::after {
  content: "+";
  background-image: none;
  background-color: var(--orange-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  padding: 17px;
  border-radius: 10%;
}
.Faq-Section .accordion-button:not(.collapsed)::after {
  content: "-";
  background-image: none;
}

/****NEWSLATER-SECTIONS****/

.homepage-bottom-newslater-section {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../assets/Homenewslaterbg.jpeg);
  padding: 40px 0px 50px;
}
.homepage-bottom-newslater-section .newslater-body input {
  background-color: rgba(255, 255, 255, 0.119);
  border: 1px solid var(--orange-color);
}
.homepage-bottom-newslater-section .newslater-body ::placeholder {
  color: var(--color-white);
  font-size: 16px;
}
.homepage-bottom-newslater-section .newslater-body .btn {
  border: 1px solid rgb(255 255 255 / 62%);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--orange-color);
  letter-spacing: 0.4px;
  font-size: 18px;
}
.homepage-bottom-newslater-section .newslater-body .btn:hover {
  color: var(--color-white);
  background-color: rgba(255, 255, 255, 0.119);
}

@media only screen and (max-width: 767px) {
  /****BREADCRUMB-FIXED-TOP-SECTION****/

  .BreadcrumbFixedTop {
    height: 180px;
    justify-content: center;
    background-repeat: no-repeat;
    margin-bottom: 0px;
  }
  /****BLOGS-SECTIONS****/
  .blog-section {
    padding: 10px 0px 10px;
  }

  .blog-row-cols img {
    height: 220px;
  }
  .blog-row-cols h5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
  }
  .blog-section .post-head h6 {
    letter-spacing: 0px;
    font-size: 14px;
  }

  .popular-tags li {
    margin-bottom: 10px;
    margin-right: 3px;
  }
  .keepintouch ul li {
    margin-bottom: 7px;
  }
  /****NEWSLATER-SECTIONS****/

.homepage-bottom-newslater-section {
  padding: 20px 0px 30px;
}
.homepage-bottom-newslater-section .newslater-body h4 {
  font-size: 19px;
  letter-spacing: 0.5px;
  font-weight: 500;
}
.homepage-bottom-newslater-section .newslater-body .btn {
  font-weight: 500;
  font-size: 16px;
}
}
