
.Successpage{
    padding: 50px 0px 50px;
}
.Successpage h1 {
  color: #88b04b;
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 10px;
}

.successcard p {
  color: #404f5e;
  font-size: 20px;
  margin: 0;
}
.successcard i {
  color: #9abc66;
  font-size: 100px;
  line-height: 200px;
  margin-left: -15px;
}

 .successcard .card {
  padding: 6z0px;
  border-radius: 4px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 .Successpage .successcard{
  border-radius: 200px;
  height: 200px;
  width: 200px;
  background: #f8faf5;
  margin: 0 auto;
}
