.section-work-data {
  background-color: #00a5ff;
  padding: 40px 0px 40px;
}
.section-work-data h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
}
.section-work-data p {
  color: white;
}

/* our-project-section */
.our-project-section {
  padding: 20px 0px 20px;
}
.our-project-section .our-project-section-top-content h2 {
  font-size: 36px;
}

.our-project-section .our-project-section-top-content p {
  color: #6a6a6a;
  line-height: 29px;
}

.our-project-section .hire-team-btn .btn {
  font-size: 15px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  background-color: #256a8f;
  border-radius: 6px;
  font-weight: 500;
  padding: 0.7rem 1.7rem;
}

.our-project-section .card .card-img-top {
  width: 120px;
  display: block;
  margin: 0px auto;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}

.our-project-section .card {
  padding: 10px;
  flex-wrap: wrap;
  border: 3px solid #00a5ff;
  box-shadow: 0 0 14px rgba(53, 110, 255, 0.45098039215686275);
  border-radius: 10px;
  margin: 10px 0px;
  overflow: hidden;
}
.our-project-section .card .img-fluid {
  width: 100%;
}
.our-project-section .card:hover {
  background-color: #256a8f54;
  color: white !important;
  transition: 0.7s ease-in-out;
}
.our-project-section .card:hover h4 {
  color: white;
}

.our-project-section .card h4 {
  color: #404040;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
}
.Freelancing-section {
  background-color:#404040;
  height: 300px;
  margin: 20px 0px 20px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.Freelancing-section p {
  color: white;
  line-height: 27px;
}

.Freelancing-section h4 {
  font-size: 28px;
  color: white;
  font-weight: 500;
  line-height: 27px;
}

.freelancing-green-color {
  color: rgb(29, 251, 29);
}

.Freelancing-section .Hire-Me-btn .btn {
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 6px 29px;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: #00b0e5;
  border-radius: 4px;
}

.Freelancing-section-Body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
