@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jersey+15+Charted&family=Lalezar&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lalezar&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lalezar&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Kurale&family=Yeseva+One&display=swap");

/* ******** */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
}
body {
  background-color: #f3f3f3 !important;
  overflow-x: hidden;
}

body a {
  font-size: 16px;
  text-decoration: none;
}

body .text-paragraph{
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  color: #41415afa;
}

.h4color{
  color: rgb(228, 81, 36);
  font-weight: 600;
  font-size: 22px;
}

.h6color{
  color: #431b2c;
}


/****NAVIGATION SECTION****/
.navbar-section {
  background: linear-gradient(90deg, rgba(131, 169, 179, 0.425), #7dacb5b9);
  padding: 18px 0px 18px;
}
.navbar-section .active {
  color: rgb(228, 81, 36) !important;
}
.navbar-bottom-nav a {
  color: black;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.4px;
  position: relative;
}
.navbar-bottom-nav a::after {
  content: "";
  position: absolute;
  background: rgb(228, 81, 36);
  height: 2px;
  left: 0;
  bottom: -4px;
  right: 0;
  margin: 0 auto;
  transform: scaleX(0);
  transition: 0.3s ease-in-out;
}
.navbar-bottom-nav a:hover::after {
  transform: scaleX(1);
}
.navbar-bottom-nav li {
  margin-right: 16px;
}
.nav-sign-btn .btn {
  background-color: #338ac8;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 0px;
  padding: 4px 10px;
}



/****BRAND-COMPANY-SECTION****/

.brand-company-section {
  padding: 30px 0px 50px;
}

.swiper-button-prev:after , .swiper-button-next:after{
  font-size: 25px !important;
  background-color: #e45124;
  border-radius: 3%;
  padding: 6px;
  position: absolute;
  height: 40px;
  color: white;
  font-weight: 700;
}

/****PROJECT SECTION****/

.our-project-section p{
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  color: #41415afa;
}
.our-project-section .btn{
  background-color: rgb(228, 81, 36);
  color: white;
  border-radius: 0px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 5px 14px;
}

/****PROFILE SECTION****/

.main-profile-wrapper-body {
  padding: 20px 0px 40px;
}
.main-profile-wrapper-body .btn {
  background-color: rgb(228, 81, 36);
  color: white;
  border-radius: 0px;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 5px 14px;
}
.main-profile-wrapper-body .profile-area .main-profile {
  margin-bottom: 20px;
  display: flex;
  position: relative;
  align-items: center;
}
.main-profile-wrapper-body .hrtag {
  color: rgb(228, 81, 36);
  border-bottom: 2px dotted;
  display: block;
  width: 100%;
  height: 2px;
}
.title-bar h6 {
  color: rgb(228, 81, 36);
  font-size: 18px;
}

/****PRIVACY AND TERMS CONDITION****/

.PrivacyAndTermsBody {
  max-width: 1080px;
  margin: 0px auto;
}
.PrivacyAndTermsBody p {
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  color: #41415afa;
}

.PrivacyAndTermsBody h5 {
  font-weight: 600;
  font-size: 22px;
}
.PrivacyAndTermsBody ul li {
  list-style-type: square;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  color: #41415afa;
}
.PrivacyAndTermsBody ul li::marker {
  color: rgb(228, 81, 36);
}

/****CRUD SECTION****/

.DashboardCrud {
  padding: 20px 0px 20px;
}
.DashboardCrud table {
  border: 2px solid black;
}
.DashboardCrud td {
  border: 3px solid black;
  padding: 6px;
}
.DashboardCrud th {
  padding: 6px;
  border: 3px solid black;
  color: #ebebeb;
  background-color:#338ac8;
}
.DashboardCrud .btn {
  padding: 6px 10px;
  width: 100px;
  border-radius: 0px;
  margin: 3px 0px 3px;
}

.AddCrudjsonData input {
  border: 1px solid rgba(164, 27, 27, 0.814);
  border-radius: 0px;
  padding: 7px 2px 7px;
}
.AddCrudjsonData label {
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 400;
}

.DashboardCrud {
  overflow: scroll;
  width: 100%;
}

.addProductbtntodo .btn {
  background-color: rgb(228, 81, 36);
  color: white;
  padding: 7px 16px;
  letter-spacing: 1px;
  font-size: 15px;
  border-radius: 0px;
  font-weight: 500;
}


.submitbtn .btn {
  background-color: #030106;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0px;
  color: white;
  padding: 5px 30px;
}


/****FOOTER SECTION****/

.footer-section {
  background: linear-gradient(90deg, #030106, #030106);
}
.footer-section p,
a {
  color: white;
}
.footer-left-sec p {
  font-size: 15px;
}
.left-socials-icons a {
  border: 1px solid white;
  outline-offset: 2px;
  outline: 1px solid white;
  padding: 5px 7px;
  color: white;
  margin-right: 10px;
  border-radius: 0px;
}
.footer-column-links a {
  color: #ebebeb;
  font-size: 14px;
  padding: 4px 10px;
  margin: 7px 0px 0px;
  display: block;
  letter-spacing: 0.5px;
}
.footer-column-links-tags a {
  font-size: 13px;
  border: 1px solid rgba(255, 255, 255, 0.271);
  color: #ebebeb;
  letter-spacing: 0.9px;
  line-height: 14px;
  font-weight: 500;
  padding: 8px 15px;
  display: inline-block;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-border-radius: 17px;
}
.footer-column-links-tags a:hover {
  color: white;
  transition: 0.4s ease-in-out;
  background-color: #da1c5c;
  -webkit-border-radius: 13px;
}
.footer-post-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.footer-date {
  font-size: 12px;
  color: #ebebeba7;
}

.footer-post-sec img {
  display: block;
  max-width: 100%;
  border-radius: 5%;
}

.footer-post-sec p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
  color: #ebebeb;
}
.footer-section h6 {
  text-align: center;
  font-weight: 500;
  color: #ebebeb;
}

.footer-top {
  border-bottom: 3px rgba(0, 128, 128, 0.377) solid;
  border-width: 2px;
  padding: 20px 0px 10px;
}
.footer-delevery-process {
  padding: 20px 0px 20px;
}
.footer-delevery-process p {
  font-size: 13px;
  line-height: 26px;
  font-weight: 500;
  color: #ebebeba7;
}
.agency-copy {
  font-size: 12px;
  color: #ee750b !important;
}
.copyright-section p {
  font-size: 14px;
}

/* 351 */